.vscode/**
.vscode-test/**
.gitignore

example
scripts
src
test

eslint.config.mjs
pnpm-lock.yaml
theme-color.md
tsconfig.json

shimmer-theme-dark-melancholy.png
shimmer-theme-dark-melancholy-block.png
shimmer-theme-dark-neutral-block.png
shimmer-theme-dark-neutral.png